In [3]:
# https://www.kaggle.com/c/beer2019/overview
# predict the bitterness of the beer 

import pandas as pd

df_train = pd.read_csv("beer2020/beer_train.csv", index_col="id")
df_test = pd.read_csv("beer2020/beer_test.csv")
df_train.head()

,abv,available,description,glass,ibu,isOrganic,name,originalGravity,srm
id,,,,,,,,,
0,8.2,"Available at the same time of year, every year.",A Belgian-Abbey-Style Tripel that is big in al...,NaN,31.0,N,LoonyToonTripel,1.070,8
1,5.7,"Available at the same time of year, every year.",Covert Hops is a crafty ale. Its stealthy dark...,Pint,45.0,N,Covert Hops,1.056,35
2,5.8,"Available at the same time of year, every year.",This is a traditional German-style Marzen char...,Mug,25.0,N,Oktoberfest,1.048,10
3,5.5,Available year round as a staple beer.,A West Coast-Style Pale Ale balancing plenty o...,Pint,55.0,N,Pale Ale,1.044,5
4,4.8,Available year round as a staple beer.,This Bombshell has a tantalizing crisp and cle...,Pint,11.4,N,Head Turner Blonde Ale,1.045,3

In [5]:
df_train.shape
df_train.describe()

(6000, 9)

In [6]:
df_train.isna().sum()
#df_train = df_train.drop(['glass'], axis=1)
#df_test = df_test.drop(['glass'], axis=1)

abv                   0
available             0
description         479
glass              2342
ibu                   0
isOrganic             0
name                  0
originalGravity       0
srm                   0
dtype: int64

In [8]:
# isOrganic is a binary value, lets convert it to 0/1

df_train.loc[df_train['isOrganic'] == 'N', 'isOrganic'] = 0
df_train.loc[df_train['isOrganic'] == 'Y', 'isOrganic'] = 1

df_test.loc[df_test['isOrganic'] == 'N', 'isOrganic'] = 0
df_test.loc[df_test['isOrganic'] == 'Y', 'isOrganic'] = 1

df_train["isOrganic"].value_counts()

0    5804
1     196
Name: isOrganic, dtype: int64

In [10]:
df_train["available"].value_counts()
#df_train["available"].isna().sum()

Available year round as a staple beer.             2812
Limited availability.                              1204
Available at the same time of year, every year.    1192
Beer is not available.                              255
Available during the summer months.                 159
Available during the winter months.                 142
Available during the fall months.                   141
Available during the spring months.                  95
Name: available, dtype: int64

In [11]:
# The 'available' column appears to be a categorical variable, lets convert it using oneHotEncoding

df_train = pd.concat([df_train,pd.get_dummies(df_train['available'], prefix='available',dummy_na=True)],axis=1).drop(['available'],axis=1)
df_test = pd.concat([df_test,pd.get_dummies(df_test['available'], prefix='available',dummy_na=True)],axis=1).drop(['available'],axis=1)

In [12]:
df_train.head(2)

,abv,description,glass,ibu,isOrganic,name,originalGravity,srm,"available_Available at the same time of year, every year.",available_Available during the fall months.,available_Available during the spring months.,available_Available during the summer months.,available_Available during the winter months.,available_Available year round as a staple beer.,available_Beer is not available.,available_Limited availability.,available_nan
id,,,,,,,,,,,,,,,,,
0,8.2,A Belgian-Abbey-Style Tripel that is big in al...,NaN,31.0,0,LoonyToonTripel,1.070,8,1,0,0,0,0,0,0,0,0
1,5.7,Covert Hops is a crafty ale. Its stealthy dark...,Pint,45.0,0,Covert Hops,1.056,35,1,0,0,0,0,0,0,0,0

In [ ]:

df_train.isna().sum()
#df = df.dropna(subset=['description'])
df_train['description'].fillna('nan', inplace=True)
df_test['description'].fillna('nan', inplace=True)
df_train.isna().sum()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer 
 

# settings that you use for count vectorizer will go here
tfidf_vectorizer=TfidfVectorizer(use_idf=True)
 
# just send in all your docs here
tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(df_train["description"])
print (tfidf_vectorizer_vectors)

In [ ]:
df_train.head(2)

In [ ]:
list(df_train.columns)

In [ ]:
from sklearn.linear_model import LinearRegression

X_train = df_train[["abv"]]
X_test = df_test[["abv"]]
Y_test = df_test[["ibu"]]
y_train = df_train["ibu"]

model = LinearRegression()
model.fit(X=X_train, y=y_train)
Y_predict = model.predict(X=X_test)

In [ ]:
output=pd.DataFrame(data={"id":df_test["id"],"ibu":Y_predict}) 

output.to_csv(path_or_buf="results.csv",index=False,quoting=3,sep=',')

In [ ]:
# todo